<footer>
  <div class="main-container">
    <div class="flex-container">
      <div class="description">
        <h3 routerLink="/home" class="logo">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-store h-6 w-6 text-white"
            data-fg-d5jy3="32.20:32.1773:/src/app/components/Header.tsx:13:11:545:40:e:Store::::::EKAh"
            data-fgid-d5jy3=":r7:"
          >
            <path d="m2 7 4.41-4.41A2 2 0 0 1 7.83 2h8.34a2 2 0 0 1 1.42.59L22 7"></path>
            <path d="M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8"></path>
            <path d="M15 22v-4a2 2 0 0 0-2-2h-2a2 2 0 0 0-2 2v4"></path>
            <path d="M2 7h20"></path>
            <path
              d="M22 7v3a2 2 0 0 1-2 2a2.7 2.7 0 0 1-1.59-.63.7.7 0 0 0-.82 0A2.7 2.7 0 0 1 16 12a2.7 2.7 0 0 1-1.59-.63.7.7 0 0 0-.82 0A2.7 2.7 0 0 1 12 12a2.7 2.7 0 0 1-1.59-.63.7.7 0 0 0-.82 0A2.7 2.7 0 0 1 8 12a2.7 2.7 0 0 1-1.59-.63.7.7 0 0 0-.82 0A2.7 2.7 0 0 1 4 12a2 2 0 0 1-2-2V7"
            ></path>
          </svg>
          Shoplite
        </h3>
        <p>
          Il tuo negozio di fiducia per la tecnologia di ultima generazione. <br />
          Qualità, affidabilità e servizio dal 2014.
        </p>

        <div class="social">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-facebook h-5 w-5"
            data-fg-bb4413="32.19:32.4997:/src/app/components/Footer.tsx:21:17:962:32:e:Facebook::::::ugG"
            data-fgid-bb4413=":r4d:"
          >
            <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
          </svg>

          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-twitter h-5 w-5"
            data-fg-bb4415="32.19:32.4997:/src/app/components/Footer.tsx:24:17:1129:31:e:Twitter::::::IeX"
            data-fgid-bb4415=":r4f:"
          >
            <path
              d="M22 4s-.7 2.1-2 3.4c1.6 10-9.4 17.3-18 11.6 2.2.1 4.4-.6 6-2C3 15.5.5 9.6 3 5c2.2 2.6 5.6 4.1 9 4-.9-4.2 4-6.6 7-3.8 1.1 0 3-1.2 3-1.2z"
            ></path>
          </svg>

          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-instagram h-5 w-5"
            data-fg-bb4417="32.19:32.4997:/src/app/components/Footer.tsx:27:17:1297:33:e:Instagram::::::EF30"
            data-fgid-bb4417=":r4h:"
          >
            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
            <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
            <line x1="17.5" x2="17.51" y1="6.5" y2="6.5"></line>
          </svg>

          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-linkedin h-5 w-5"
            data-fg-bb4419="32.19:32.4997:/src/app/components/Footer.tsx:30:17:1466:32:e:Linkedin::::::BytQ"
            data-fgid-bb4419=":r4j:"
          >
            <path
              d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"
            ></path>
            <rect width="4" height="12" x="2" y="9"></rect>
            <circle cx="4" cy="4" r="2"></circle>
          </svg>
        </div>
      </div>

      <ul class="link">
        <h4>Link Rapidi</h4>
        <li routerLink="/home">Home</li>
        <li routerLink="/products">Categorie</li>
        <li routerLink="/cart">Carello</li>
      </ul>

      <ul class="service">
        <h4>Servizio Clienti</h4>
        <li>Spedizioni e Resi</li>
        <li>Garanzia</li>
        <li>Domande Freguenti</li>
        <li>Privacy Policy</li>
        <li>Termini e Condizioni</li>
      </ul>

      <ul class="contact">
        <h4>Contatti</h4>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-map-pin h-5 w-5 flex-shrink-0 mt-0.5 text-[#06B6D4]"
            data-fg-bb4463="32.19:32.4997:/src/app/components/Footer.tsx:99:17:3776:66:e:MapPin::::::BveZ"
            data-fgid-bb4463=":r5g:"
          >
            <path
              d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0"
            ></path>
            <circle cx="12" cy="10" r="3"></circle>
          </svg>
          Via roma 123, 20121 Milano, Italia
        </li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-phone h-5 w-5 flex-shrink-0 text-[#06B6D4]"
            data-fg-bb4467="32.19:32.4997:/src/app/components/Footer.tsx:103:17:3998:58:e:Phone::::::DmpI"
            data-fgid-bb4467=":r5j:"
          >
            <path
              d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"
            ></path>
          </svg>
          +39 02 1234 5678
        </li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-mail h-5 w-5 flex-shrink-0 text-[#06B6D4]"
            data-fg-bb4471="32.19:32.4997:/src/app/components/Footer.tsx:109:17:4300:57:e:Mail::::::D4VR"
            data-fgid-bb4471=":r5m:"
          >
            <rect width="20" height="16" x="2" y="4" rx="2"></rect>
            <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
          </svg>
          info@shoplite.it
        </li>
      </ul>
    </div>

    <p class="copyright">© 2026 Shoplite. Tutti i diritti riservati.</p>
  </div>
</footer>
