<section class="chi-siamo-section">
  <article class="description">

    <h1> Chi Siamo </h1>
    <p>
      TechStore è il tuo punto di riferimento per la tecnologia di ultima generazione. Da oltre 10 anni
      offriamo ai nostri clienti i migliori prodotti tech sul mercato, con un servizio clienti impeccabile e
      prezzi competitivi.
      <br> <br>
      La nostra missione è rendere la tecnologia accessibile a tutti, fornendo prodotti di qualità, assistenza
      dedicata e spedizioni rapide in tutta Italia. Ogni prodotto viene selezionato con cura dal nostro team
      di esperti per garantire le migliori performance e affidabilità.
    </p>

    <div class="statistic">

      <div>
        <span class="number"> 10+ </span>
        <p> Anni di Esperienza </p>
      </div>

      <div>
        <span class="number"> 50k+ </span>
        <p> Clienti Soddisfatti </p>
      </div>

      <div>
        <span class="number"> 500+ </span>
        <p> Prodotti Disponibili </p>
      </div>

    </div>
  </article>

  <img
    src="https://images.unsplash.com/photo-1768796371784-3ad0bf2723a0?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3Nzg4Nzd8MHwxfHNlYXJjaHwxfHx0ZWFtJTIwdGVjaG5vbG9neSUyMG9mZmljZXxlbnwxfHx8fDE3NzM0MDA1NTh8MA&ixlib=rb-4.1.0&q=80&w=1080&utm_source=figma&utm_medium=referral">

</section>
