* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #1E293B;
}

nav .container {
    margin: 0 1rem 0 1rem;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

nav ul li {
    color: white;
    padding: 1.2rem
}

nav ul .logo,
nav ul .utilities .carello {
    display: flex;
    align-items: center;
}

nav ul .logo svg,
nav ul .utilities .carello svg {
    margin-right: 0.5rem;
}