/* BASE STILE GENERALE */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  background-color: #F8FAFC;
  padding: 2rem;
  width: 100%;
}

form {
  display: flex;
  justify-content: center;
}

h2 {
  font-size: clamp(1.5rem, 4vw, 2rem);
  margin-bottom: 0.5rem;
}

p {
  margin: 0 0 2rem 0;
  font-size: 16px;
  text-align: center;
  color: oklab(0.207682 -0.00294792 -0.0397151 / 0.6);
}



/* BOX FORM */
.login-container {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  width: 30rem;
  /* larghezza fissa desktop */
  max-width: 90%;
  /* riduce su schermi piccoli */
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  border-radius: 0.6rem;
  border: 1px solid oklch(0.928 0.006 264.531);
  background-color: #fff;
}

/* LABEL E INPUT */
label {
  margin-bottom: 0.4rem;
  font-size: 14px;
  font-weight: 500;
}

input {
  width: 100%;
  border-radius: 0.6rem;
  padding: 0.7rem 1rem;
  border: 1px solid oklch(0.928 0.006 264.531);
  font-size: 16px;
  margin-bottom: 1rem;
}

/* CHECKBOX E LINK */
.checkbox-line {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

div.checkbox {
  display: flex;
}

div.checkbox-line .label {
  color: oklab(0.207682 -0.00294792 -0.0397151 / 0.6);
  font-weight: 500;
  margin-left: 0.4rem;
}

.sign-up {
  color: rgb(37, 99, 235);
  cursor: pointer;
}

.sign-up:hover {
  color: rgb(6, 182, 212);
}

.account {
  font-size: 14px;
}

/* BOTTONE */
button {
  margin-top: 1.5rem;
  background-color: #ccc;
  color: white;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7rem 0;
  border-width: 0;
  border-radius: 0.7rem;
  transition: background-color 0.3s ease;
}

button.valid-form {
  background-color: rgb(37, 99, 235);
}

button.valid-form:hover {
  background-color: rgb(6, 182, 212);
}

/* LINEA DIVISORIA */
.line-with-text {
  display: flex;
  align-items: center;
  text-align: center;
  color: oklab(0.207682 -0.00294792 -0.0397151 / 0.6);
  margin-top: 1rem;
}

.line-with-text::before,
.line-with-text::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 10px;
}

/* LINK HOME */
.home {
  margin-top: 1rem;
  text-decoration: none;
  color: oklab(0.207682 -0.00294792 -0.0397151 / 0.6);
}

.home:hover {
  color: rgb(37, 99, 235);
}

/* MESSAGGIO ERRORE */
.error {
  background-color: rgb(255, 183, 206);
  color: rgb(112, 19, 19);
  padding: 1rem;
  border-radius: 0.7rem;
  margin-top: 1rem;
}

/* RESPONSIVE MOBILE */
@media (max-width: 480px) {
  .login-container {
    padding: 1.5rem;
    width: 100%;
    /* prende tutta la larghezza disponibile */
    max-width: 100%;
    /* niente limiti su mobile */
  }

  .checkbox-line {
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
  }

  button {
    font-size: 15px;
    padding: 0.9rem 0;
  }

  input {
    font-size: 15px;
    padding: 0.6rem 0.8rem;
  }
}
