<main>
  <section>
    <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="hero1.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="https://i.postimg.cc/pLzGdjK8/jpeg-2.png" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="https://i.postimg.cc/pLzGdjK8/jpeg-2.png" class="d-block w-100" alt="..." />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleRide"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleRide"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>

  <app-chi-siamo> </app-chi-siamo>

  <section class="info">
    <section class="service-section">
      <div class="card-container">
        <div class="icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-truck h-6 w-6"
            data-fg-dag35="32.76:32.10055:/src/app/pages/Home.tsx:60:15:3115:29:e:Truck::::::Dl9l"
            data-fgid-dag35=":r18:"
          >
            <path d="M14 18V6a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v11a1 1 0 0 0 1 1h2"></path>
            <path d="M15 18H9"></path>
            <path
              d="M19 18h2a1 1 0 0 0 1-1v-3.65a1 1 0 0 0-.22-.624l-3.48-4.35A1 1 0 0 0 17.52 8H14"
            ></path>
            <circle cx="17" cy="18" r="2"></circle>
            <circle cx="7" cy="18" r="2"></circle>
          </svg>
        </div>

        <div>
          <h3>Spedizione Gratuita</h3>
          <p>Su ordini superiori a $1000</p>
        </div>
      </div>

      <div class="card-container">
        <div class="icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-truck h-6 w-6"
            data-fg-dag35="32.76:32.10055:/src/app/pages/Home.tsx:60:15:3115:29:e:Truck::::::Dl9l"
            data-fgid-dag35=":r18:"
          >
            <path d="M14 18V6a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v11a1 1 0 0 0 1 1h2"></path>
            <path d="M15 18H9"></path>
            <path
              d="M19 18h2a1 1 0 0 0 1-1v-3.65a1 1 0 0 0-.22-.624l-3.48-4.35A1 1 0 0 0 17.52 8H14"
            ></path>
            <circle cx="17" cy="18" r="2"></circle>
            <circle cx="7" cy="18" r="2"></circle>
          </svg>
        </div>

        <div>
          <h3>Garanzia 2 Anni</h3>
          <p>Su tutti i prodotti</p>
        </div>
      </div>

      <div class="card-container">
        <div class="icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-truck h-6 w-6"
            data-fg-dag35="32.76:32.10055:/src/app/pages/Home.tsx:60:15:3115:29:e:Truck::::::Dl9l"
            data-fgid-dag35=":r18:"
          >
            <path d="M14 18V6a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v11a1 1 0 0 0 1 1h2"></path>
            <path d="M15 18H9"></path>
            <path
              d="M19 18h2a1 1 0 0 0 1-1v-3.65a1 1 0 0 0-.22-.624l-3.48-4.35A1 1 0 0 0 17.52 8H14"
            ></path>
            <circle cx="17" cy="18" r="2"></circle>
            <circle cx="7" cy="18" r="2"></circle>
          </svg>
        </div>

        <div>
          <h3>Prodotti Certificati</h3>
          <p>100% originali e autentici</p>
        </div>
      </div>
    </section>
    <section class="product-card-section">
      <div class="product-card-header">
        <h2>Prodotti in Evidenza</h2>
        <p routerLink="/products" style="cursor: pointer">
          Vedi tutti
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-arrow-right h-5 w-5"
          >
            <path d="M5 12h14"></path>
            <path d="m12 5 7 7-7 7"></path>
          </svg>
        </p>
      </div>

      <div class="card-product-container">
        @if (productsService.products.isLoading()) {
          <p>...loading</p>
        } @else if (productsService.products.error()) {
          <p>{{ productsService.products.error() }}</p>
        } @else {
          @for (product of featuredProducts(); track $index) {
            <app-product-card [product]="product" />
          } @empty {
            <p>Nessun prodotto da mostrare</p>
          }
        }
      </div>
    </section>
  </section>
</main>
